{{- /* 구조화 데이터. 화면에 보이는 내용과 어긋나지 않게 제목, 설명, 갱신일, 작성자만 담는다. */ -}}
{{- $author := "조훈 (Hoon Jo)" -}}
{{- $authorDesc := "CNCF Ambassador, AAIF(Agentic AI Foundation) Ambassador, Kubestronaut" -}}
{{- if eq site.Language.Lang "en" -}}
  {{- $author = "Hoon Jo" -}}
  {{- $authorDesc = "CNCF Ambassador, AAIF (Agentic AI Foundation) Ambassador, Kubestronaut" -}}
{{- end -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "{{ site.BaseURL }}#website",
      "url": "{{ site.BaseURL }}",
      "name": {{ site.Title | jsonify }},
      "inLanguage": "{{ site.Language.Lang }}",
      "publisher": { "@id": "{{ site.BaseURL }}#person" }
    },
    {
      "@type": "Person",
      "@id": "{{ site.BaseURL }}#person",
      "name": {{ $author | jsonify }},
      "description": {{ $authorDesc | jsonify }},
      "url": "{{ site.Params.blogURL }}",
      "sameAs": [
        "https://github.com/sysnet4admin",
        "https://www.linkedin.com/in/hoonjo/",
        "https://www.youtube.com/HoonJo"
      ]
    },
    {
      "@type": "WebPage",
      "@id": "{{ .Permalink }}#webpage",
      "url": "{{ .Permalink }}",
      "name": {{ .Title | jsonify }},
      "description": {{ .Description | jsonify }},
      "inLanguage": "{{ site.Language.Lang }}",
      "isPartOf": { "@id": "{{ site.BaseURL }}#website" },
      "author": { "@id": "{{ site.BaseURL }}#person" },
      "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
      "primaryImageOfPage": "{{ with .Params.images }}{{ index . 0 | absURL }}{{ end }}",
      {{- /* 상시 할인은 카탈로그 전체에 걸리므로 자격증 약어를 기계가 읽는 자리에 남긴다 */}}
      "keywords": "CKA, CKAD, CKS, KCNA, KCSA, CKNE, PCA, ICA, CAPA, CCA, CBA, KCA, OTCA, CNPA, CNPE, CGOA, LFCS, LFCA, PTCA, MCPA, HFCP, BCP, RVFA, CODE, Linux Foundation, CNCF, Agentic AI Foundation, Kubestronaut",
      "about": [
        { "@type": "Thing", "name": "Linux Foundation certification exams" },
        { "@type": "Thing", "name": "CNCF Kubernetes certifications (CKA, CKAD, CKS, KCNA, KCSA)" },
        { "@type": "Thing", "name": "Agentic AI Foundation certification (MCPA, Model Context Protocol Associate)" }
      ]
    }
  ]
}
</script>
